<!DOCTYPE html>
<html>
<head>
  <title>RailsStack</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
